.advantage__wrapper {
  padding-top: 110px;
  padding-bottom: 120px;
  min-height: 562px;

  @include vp-1365 {
    padding-top: 91px;
    padding-bottom: 100px;
    min-height: min-content;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 67px;
  }
}

.advantage__wrapper > h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;

  @include vp-1365 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 48px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 40px;
  row-gap: 40px;
  margin: 0;
  padding: 0;

  @include vp-1365 {
    column-gap: 28px;
    row-gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 30px;
  }
}

.advantage__item {
  padding: 81px 30px 26px 30px;
  width: 31%;
  background-color: $color-alice-blue;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 32px;
    top: 28px;
    left: 30px;
    background-repeat: no-repeat;
    background-position-y: center;

    @include vp-1365 {
      left: 20px;
      top: 25px;
      background-position: 0 40%;
    }
  }

  &--liner::before {
    background-image: url("../img/svg/liner.svg");
    background-size: 27px 32px;

    @include vp-1365 {
      background-size: 21px 26px;
    }
  }

  &--all-inclusive::before {
    background-image: url("../img/svg/all-inclusive.svg");
    background-size: 38px 21px;

    @include vp-1365 {
      background-size: 33px 19px;
    }
  }

  &--zodiac::before {
    background-image: url("../img/svg/zodiac.svg");
    background-size: 45px 15px;

    @include vp-1365 {
      background-size: 38px 13px;
    }
  }

  @include vp-1365 {
    padding: 71px 10px 20px 21px;
    width: 30.5%;
  }

  @include vp-767 {
    width: auto;
    padding: 70px 20px 20px 20px;
  }
}

.advantage__item > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  margin-bottom: 9px;

  @include vp-767 {
    padding-right: 43px;
  }
}

.advantage__item p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.advantage__item--all-inclusive p {
  padding-right: 20px;

  @include vp-1365 {
    padding-right: 0;
  }
}

.advantage__item--zodiac p {
  padding-right: 50px;

  @include vp-1365 {
    padding-right: 0;
  }
}
