.footer-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 35px;
  margin: 0;
  padding: 0;
  margin-right: 349px;

  @include vp-1023 {
    column-gap: 25px;
    margin-right: 80px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 25px;
  }
}

.footer-nav__item {
  line-height: 0;
}

.footer-nav__link {
  color: $color-alice-blue;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  &:hover {
    cursor: pointer;
    color: $color-maya-blue;
  }
}
