.location__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  column-gap: 8.5%;
  line-height: 0;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
    column-gap: 30px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 59px;
    flex-wrap: wrap;
    row-gap: 43px;
  }
}

.location__map-wrapper {
  position: relative;
  min-width: 300px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include vp-767 {
    width: 100%;
    margin: auto;
    min-width: unset;
  }
}

.location__map {
  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
    min-width: auto;
  }
}

.location__map-image-wrapper {
  position: absolute;
  top: 0;
  width: 560px;
  height: 306px;
  z-index: -1;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    overflow: hidden;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.location__map-image-wrapper img {
  position: absolute;
  top: 0;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    object-fit: cover;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
  }
}

.location__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 89%;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    order: -1;
  }
}

.location__contacts > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.location__address-wrapper * {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
  padding-left: 28px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 22px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }

  & + * {
    margin-top: 21px;
  }
}

.location__address-wrapper p {
  &::before {
    background-image: url("../img/svg/location.svg");

    @include vp-1023 {
      top: 5px;
    }
  }
}

.location__address-wrapper a {
  display: block;

  &::before {
    background-image: url("../img/svg/phone.svg");
  }

  &:hover::before {
    background-image: url("../img/svg/phone-hover.svg");
  }

  &:hover {
    color: $color-maya-blue;
  }
}
