.page__body {
  font-family: $ff-montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  margin: 0;
  display: flex;
  flex-direction: column;
}
