.social__list {
  display: flex;
  list-style-type: none;
  column-gap: 28px;
  margin: 0;
  padding: 0;

  @media (max-width: $vp-1366 - 1) {
    column-gap: 23px;
  }

  @media (max-width: $vp-768 - 1) {
    column-gap: 19px;
  }
}

.social__button-ico {
  fill: $color-alice-blue;

  @media (max-width: $vp-1366 - 1) {
    width: 16px;
    height: 16px;
  }
}
