.background-image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  &--header {
    background-color: $color-prussian-blue;
    background-image: url("../img/header-bg-desktop.webp");
    box-shadow: 0 4px 4px $color-black;

    @include retina {
      background-image: url("../img/header-bg-desktop@2x.webp");
    }

    @include vp-1365 {
      background-image: url("../img/header-bg-tablet.webp");

      @include retina {
        background-image: url("../img/header-bg-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/header-bg-mobile.webp");

      @include retina {
        background-image: url("../img/header-bg-mobile@2x.webp");
      }
    }
  }

  &--advantage {
    background-color: $color-solitude;
    background-image: url("../img/advantage-desktop.webp");
    background-size: cover;

    @include retina {
      background-image: url("../img/advantage-desktop@2x.webp");
    }

    @include vp-1365 {
      background-image: url("../img/advantage-tablet.webp");

      @include retina {
        background-image: url("../img/advantage-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/advantage-mobile.webp");

      @include retina {
        background-image: url("../img/advantage-mobile@2x.webp");
      }
    }
  }

  &--early-booking {
    background-color: $color-pattens-blue;
    background-image: url("../img/early-booking-desktop.webp");
    background-size: cover;

    @include retina {
      background-image: url("../img/early-booking-desktop@2x.webp");
    }

    @include vp-1365 {
      background-image: url("../img/early-booking-tablet.webp");

      @include retina {
        background-image: url("../img/early-booking-tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("../img/early-booking-mobile.webp");

      @include retina {
        background-image: url("../img/early-booking-mobile@2x.webp");
      }
    }
  }
}
